* {
  box-sizing: border-box;
}

header {
  display: flex;  
  position: fixed;
  background-color: gray;
  top: 0;
  min-height: 75px;
  flex-direction: row;
  padding: 0px 20px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

ul li {
  padding: 6px;
  background-color: orange;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  margin-left: 5px;
}

a {
  text-align: center;
  text-decoration: none;
}

@media (max-width: 600px) {
  header {
    display: block;
    text-align: center;
  }
  ul {
    width: auto;
  }
  body {
    margin-top: 20vw;
  }
}

#contact {
  margin-right: 5vw;
}

img {
  max-width: 50px;
}

body {
  background-color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.container2{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
}

.container3{
  display: flex;
  border: 3px orange solid;
  flex-wrap: wrap;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: row;
  flex-basis: 5%;
  padding: 5px;
}

.videoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  flex: 1;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.btn {
  display: block;
  margin: 15px 0 10px 46%;
  height: 40px;
  font-size: 1em;
  background-color: orange;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 2px;
  cursor: pointer;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}